# System configs
build --java_language_version=11
build --java_runtime_version=remotejdk_11
build --tool_java_language_version=11
build --tool_java_runtime_version=remotejdk_11

# Output configs
build --show_timestamps
build --ui_event_filters=-DEBUG,-INFO
test --test_output=errors
test --test_verbose_timeout_warnings
# test --test_summary=terse

# Build configs
build --incompatible_strict_action_env
## Needed these for integration tests (bazel in bazel)
test --test_env=PATH=/opt/homebrew/bin/:/usr/local/bin:/usr/sbin:/bin:/usr/bin:/go/bin
test --test_env=HOME=~/
## golangci-lint analyzers depends on go-ruleguard which requires GOROOT to be
## set so that it can load dynamic libraries.
test --test_env=GOROOT

# Test configs
test --test_size_filters=small
test:all --test_size_filters=

# Remote cache configs
build --experimental_remote_cache_async
build --experimental_remote_cache_compression
build --experimental_remote_merkle_tree_cache
build --experimental_remote_merkle_tree_cache_size=10000

build:remote-cache --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote-cache --bes_backend=grpcs://remote.buildbuddy.io
build:remote-cache --remote_cache=grpcs://remote.buildbuddy.io
build:remote-cache --remote_timeout=3600

# Personal override (and creds)
try-import .user.bazelrc

## Sample .user.bazelrc ##
#
# build --config=remote-cache
# build --remote_header=x-buildbuddy-api-key=<api-key>
